<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Avatar: The Last Air Bender</title>
</head>
<body>

    <div id="app">
        <h1>Characters</h1>

        <h2>show characters in the list</h2>
        <ul><li v-for="char in characters">{{ char.name }}</li></ul>

        <h2>show characters in the paragraf</h2>
        <p>
            <span v-for="(char, idx) in characters">
            {{char.name}}{{ idx === characters.length - 1 ? '':', ' }}
            </span>
        </p>
    </div>
    
    <script>
        Vue.createApp({
            data: () => ({
                characters: [
                    {
                    name: "Aang"
                    },
                    {
                    name: "Zuko"
                    },
                    {
                    name: "Katara"
                    },
                    {
                    name: "Toph"
                    }
                ]
            })
        }).mount("#app")
    </script>
</body>
</html>